@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import "imports_fonts.css";

html, body { margin:0 !important; height: 100%; background:#f5f5f5; }

body{
  background:#f5f5f5;	
}

::-webkit-scrollbar { width: 6px; height: 6px; -webkit-border-radius: 0px; }
::-webkit-scrollbar-track-piece { background-color: #666; -webkit-border-radius: 0px; }
::-webkit-scrollbar-thumb:vertical { height: 5px; background-color: #0072c9; -webkit-border-radius: 0px; }
::-webkit-scrollbar-thumb:horizontal { width: 5px; background-color: #0072c9; -webkit-border-radius: 0px; }


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-size:14px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.none{
}

.columns{
	margin-top:;	
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.box-text{
  background:#0072c9;
  color:#fff;
  padding:20px 5px !important;	
  -webkit-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
}

.login{
  margin-top:70px;
}


.box-login{
  background:#fff;
  border:1px solid #bdbdbd;
  padding:30px 26px !important;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
}

.box-login input, .button, input, select{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;	
}

.box-login input{
  border-color:#bdbdbd;
}

.button{
  padding:0px 20px !important;
}

.button-login{
  background:#0072c9 !important;
  margin-top:10px;
}

.buttons{
  margin-top:10px;
}

.button-login:hover{
  background:#239fed !important;
}

.label{
  font-weight:300 !important;
  color:#696969 !important;
  font-family: 'Open Sans', sans-serif !important;	
}

.field-password{
  padding-top:5px !important;
}

.title-box-text{
  text-align:center !important;
  font-size:20px !important;
}

.text-box-text{
  text-align:left !important;
  padding-left:5px;
}

.imageapp{
  margin-bottom:50px;
}


.VueCarousel-pagination{
  height:0px !important;
  padding:0 auto !important;
}

.VueCarousel-dot{
  margin:15 auto !important; 
}

.slide{
  padding-bottom:30px !important;
}

.fas-icon{
  color:#9e9e9e !important;
}

.structure-app{
  margin-top:45px !important;
  background:transparent;	
}

.box-pages{
  margin-top:0px;
  padding:10px 20px;
  background:#f5f5f5;
}

.box-table{
  width:100% !important; 	
}

.table{
  width:100% !important; 
}

.table-th-small{
  width:7%;
}

.table-th-min{
  width:4% !important;
}

.table-th-meddle{
  width:15%;
}

.box-shadow:hover{
 -webkit-box-shadow: 0px 0px 18px 0px rgba(230,225,230,1);
 -moz-box-shadow: 0px 0px 18px 0px rgba(230,225,230,1);
 box-shadow: 0px 0px 18px 0px rgba(230,225,230,1);
}

.actions{
  position:absolute;
  z-index:100;
  top:87px;
  right:8px;
  margin-bottom:-16px;
}

.breadcrumb{
  margin-top:-5px;
 font-size:14px !important;
 margin-bottom:0px !important;
}

.breadcrumb-item span{
	padding-left:11px;
}

.activeRouteExact{
	color:#9C9C9C !important;
}

.fas-spacing{
	margin-right:10px;
}

.box-form{
  margin-top:17px;
}

.fa-check{
  color:#00d169 !important;
}

.tooltip{
  background:#ef5350 !important;
  color:#fff !important;
  z-index:9;
  position:absolute;
  text-align:center;
  padding:6px 8px;
  margin-top:9px;
  font-size:13px;
  font-family:;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
  box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);  
}

.tooltip_bottom:after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid #ef5350;
  bottom:29px;
  left: 45%;    
}

.spagin-5{
  margin-right:5px;
}

.container-free{
  width:70%;
}

.title-container-free{
  font-size:30px;
  margin-top:0px;
  margin-bottom:15px;
}

.title-container-free-list{
  font-size:20px;
  margin-top:0px;
  margin-bottom:15px;  
}

.required-input{
  color:#454545;
  font-size:11px;
}

.column-divisor{
  background:#fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #dee4ed;  
}

.column-large{
  margin-right:10px;
-webkit-box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
-moz-box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);   
}

.column-large-n{
-webkit-box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
-moz-box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
}

.column-small{
-webkit-box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
-moz-box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);
box-shadow: 0px 0px 2px 0px rgba(196,194,196,1);  
}

.labels{
  color:#000 !important;
}

.is-list{
  margin-top:0px;
}

.column-list{
  margin-top:10px;
}

.edit, .trash, .check{
  cursor:pointer;
}

.icon-table{
  color:#363636 !important;
}

.bt-reset{
  margin-right:10px;
}

.vue-notification {
  padding: 10px;
  margin: 1px 5px 5px;
  padding:20px;
  font-size: 12px;
  border-left: 5px solid #187FE7;
}

.warning {
  padding: 10px;
  margin: 1px 5px 5px;
  padding:20px;
  font-size: 12px;
  background:orange;
  color:#fff;
  border-left: 5px solid #FF8C00;
}

.el-message-box, .el-button{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

.dashtable{
  margin-top:-25px;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;  
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
  background:#F5F5F5;
}

.operations{
  width:100% !important;
  height:28px;
}


.search{
  width:100% !important;
  margin-top:5px;
  background:;
}

.pagination{
  margin-top:-20px;
  margin-right:-10px;
}

.sort i{
  font-size:17px;
}

.sort:hover{
  color:#60abf2;
}

.sort i{
  z-index:9;
  position:relative;
  top:2px;
}

.pointer{
  cursor:pointer !important;
}

.index_page{
  padding-top:15px !important;
}

.linksort{
  color:#0072c9 !important;
}

.linksort:hover{
  color:#1094ed !important;
}

.icon{
  z-index:0 !important;
}

.multiselect__tags{
  border-radius:0px !important;
  border:1px solid #dbdbdb !important;
  min-height: 0px !important;
}

.select_custon{
  width:50%!important;
}

.show_collapse{
  background:#f5f5f5 !important;
  width:100% !important;
  height:180px !important;
  margin-bottom:10px;
  margin-top:10px;
  border:1px solid #e0e0e0;
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #ef5350;
    color: #ef5350;
}

.button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
    background-color: #ef5350;
    border-color: #ef5350;
    color: #fff;
}

.list{
  margin-top:30px;
  margin-left:10px;
  margin-right:10px;
}

.ulinternet_listen{
 background:#fff;
 padding:15px;
 border-left:5px solid #0097E8;
 margin-bottom:20px;
-webkit-box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
-moz-box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
}

.linespacing{
  margin-top:8px;
}

.spacing_left{
  margin-left:15px;
}

.actions_list{
  color:#0073C4;
}

.actions_list span{
  cursor:pointer;
}

.select_check{
  font-size:12px;
  z-index:9;
  position:relative;
  top:-3px;
}

.info_relevant{
  color:#0073C4;
}

.action_sort{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:-20px;
  padding:3px 3px;
}

.order_title{
  font-size:11px;
  color:#616161;
}

.a_action_sort{
  margin-left:20px;
  font-size:14px;
}

.buttonsort{
-webkit-border-radius: 1px !important;
-moz-border-radius: 1px !important;
border-radius: 1px !important;
color:#0073C4;
}

@media screen and (max-width: 767px) {
 .menu-vertical{
   margin-top:40px;
 }

 .box-pages{
  background:#fff;
 }

 .container-free{
  width:100%;
 }

  .column-large{
    margin-right:0px;
  }

  .hd-mobile{
    display:none !important;
  }

  .el-pagination{
    margin-left:-10px;
  }

  .btn-prev{
    margin:0 auto !important;
  }

  .el-pagination__jump{
    display:none !important;
  }

  li.number{
   display:none !important;
  }

  .pg-bottom{
    margin-top:-22px !important;
  }

  .show_collapse{
    background:#f5f5f5 !important;
    width:100% !important;
    height:270px !important;
    margin-bottom:10px;
    margin-top:10px;
    border:1px solid #e0e0e0;
  }

  .actions{
    position:absolute;
    z-index:100;
    top:128px;
    right:8px;
    margin-bottom:-16px;
  }
}